<div class="row">
    <div ng-controller="MainCtrl">
        <div class="col-xs-6 col-sm-5 col-lg-4 module">
            <ui-select ng-model="module.selected" limit="10" ng-disabled="!moduleList" ng-change="getModule(module.selected)">
                <ui-select-match placeholder="Select module" ng-click="changePlaceholder()">{{$select.selected.getName()}}</ui-select-match>
                <ui-select-choices ng-init=init() repeat="module in moduleList | listFilter: $select.search | limitTo : $select.limit" class="form-control">
                    <span drag dragStyle="dragStyle" ng-bind-html="module.getName() | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
            <div class="module-desc" ng-if="selectedModule.getDescription()">
                {{selectedModule.getDescription()}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <table class="droplist">
                <tr ng-repeat="line in flow track by $index">
                    <td drop={{$parent.$index}}-{{$index}} dropStyle="dropStyle" ng-repeat="col in line track by $index">
                        {{col}}
                    </td>
                    <td ng-if="line.length > 0" drop="{{$parent.$index}}-newcol" dropStyle="dropStyle">
                        <p class="newmod">chain any module here</p>
                    </td>
                </tr>
                <tr>
                    <td drop="newline" dropStyle="dropStyle">
                        <p class="newmod">dragg any module here</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
